{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}Reset password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h4 class="mb-3">Choose a new password</h4>
        <form method="post" novalidate>
          {{ form.hidden_tag() }}
          {{ field(form.password, autofocus=true) }}
          {{ field(form.confirm) }}
          <button class="btn btn-dark w-100" type="submit">{{ form.submit.label.text }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
