{% extends "base.html" %}
{% from "_macros.html" import field %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>{{ title }}</h3>
<div class="card"><div class="card-body">
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
      <div class="col-md-3">{{ field(form.employee_code) }}</div>
      <div class="col-md-5">{{ field(form.full_name) }}</div>
      <div class="col-md-4">{{ field(form.email) }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">{{ field(form.phone) }}</div>
      <div class="col-md-4">{{ field(form.job_title) }}</div>
      <div class="col-md-4">{{ field(form.department) }}</div>
    </div>
    <div class="row">
      <div class="col-md-3">{{ field(form.employment_type) }}</div>
      <div class="col-md-3">{{ field(form.status) }}</div>
      <div class="col-md-3">{{ field(form.location_id) }}</div>
      <div class="col-md-3">{{ field(form.hire_date) }}</div>
    </div>
    <div class="row">
      <div class="col-md-4">{{ field(form.termination_date) }}</div>
      <div class="col-md-4">{{ field(form.bank_account) }}</div>
      <div class="col-md-4">{{ field(form.tax_id) }}</div>
    </div>
    {{ field(form.address) }}
    {{ field(form.notes) }}
    <button class="btn btn-dark">Save</button>
    <a class="btn btn-link" href="{{ url_for('admin.staff_list') }}">Cancel</a>
  </form>
</div></div>
{% endblock %}
